<mat-accordion multi="true" *ngIf="employees.length > 0">
    <mat-expansion-panel *ngFor="let employee of employees">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{employee.firstName + ' ' + employee.lastName}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            {{employee.role + ' | ' + employee.email}}
        </p>
        <p *ngIf="employee.status">Active</p>
        <p *ngIf="!employee.status">Inactive</p>
        <mat-action-row>
            <button mat-button color="primary">EDIT</button>
            <button *ngIf="employee.status" mat-button color="warn">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>