<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="employees.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let employee of employees">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{employee.firstName + ' ' + employee.lastName}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            {{employee.role + ' | ' + employee.email + ' | ' + employee.id}}
        </p>
        <p *ngIf="employee.status">Active</p>
        <p *ngIf="!employee.status">Inactive</p>
        <mat-action-row>
            <a mat-button color="primary" [routerLink]="['/edit', employee.id]">EDIT</a>
            <button *ngIf="employee.status" mat-button color="warn" (click)="onDelete(employee.id)">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalEmployees" [pageSize]="employeesPerPage" [pageSizeOptions]="pageSizeOptons"
(page)="onChangedPage($event)" *ngIf="employees.length > 0"></mat-paginator>

<p *ngIf="employees.length <=0 && !isLoading">No employee exists</p>